
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

.env
.venv
env/
venv/

.vscode/
.idea/
*.swp
.DS_Store


*.log


dump/
*.bson
*.json


.pytest_cache/
.coverage
htmlcov/


Thumbs.db
